body {
  margin: 0;
  padding: 0;
  background-color: #fffcf2; /* Màu kem chủ đạo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%; /* Tràn hết màn hình */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box; /* Đảm bảo padding không làm vỡ khung */
}